export DATOMIC_SYSTEM=day-of-datomic
export DATOMIC_REGION=us-east-2
export DATOMIC_SOCKS_PORT=8182

export_alias() {
  local name=$1
    shift
    local alias_dir=$PWD/.direnv/aliases
    local target="$alias_dir/$name"
    mkdir -p "$alias_dir"
    PATH_add "$alias_dir"
    echo "#!/usr/bin/env bash -e" > "$target"
    echo "$@" >> "$target"
    chmod +x "$target"
}

export_alias foo 'curl -x socks5h://localhost:$DATOMIC_SOCKS_PORT http://entry.$DATOMIC_SYSTEM.$DATOMIC_REGION.datomic.net:8182/'
export_alias socks bash datomic-socks-proxy.dms day-of-datomic
